{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Action</h2>

    <!-- Single button -->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Action <span class="caret"></span> </button>
        <ul class="dropdown-menu">
            <li><a href="/todo/create">Add</a></li>
            <li><a href="/">List</a></li>
            <li><a href="#">Jakaś opcja</a></li>
        </ul>
    </div>

{% endblock %}