{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Action</h2>

    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/todo/create">Add</a></li>
            <li><a href="/">List</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

{% endblock %}